.githubSection {
    display: flex;
    align-items: center;
    padding: 20px;
}

.projectPageTitle {
    font-size: 34px;
    margin-right: 20px;
}

.githubLink {
    font-size: 20px;
}

.videoSection {
    padding: 5px 20px;
}

.videoLabel {
    margin-bottom: 20px;
    font-size: 30px;
}

.video {
    width: 100%;
    height: 500px;
}

.descriptionSection {
}

.descriptionHeader {
    font-size: 40px;
    font-weight: 700;
    margin: 15px 0;
    margin-left: 20px;
}

.descriptionBullets {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 50px;

}